<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="/index::htmlhead">
</head>

<body>

<!-- Navigation -->
<nav th:replace="/index::navbar">
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/general.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 clas="heading">General News</h1>
                    <h2 class="subheading">Top news from around the country</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container" th:replace="/index::content">
</div>

<hr>

<!-- Footer -->
<footer th:replace="/index::footer">
</footer>

<div th:replace="/index::scripts"></div>
</body>

</html>
